<h1>Create New User</h1>

<%= form_for @user, controller: 'users', action: 'create' do |f| %>
   <%= f.label "Name:" %>
   <%= f.text_field :name %>
   <%= f.label "Password:" %>
   <%= f.text_field :password %>
   <%= f.label "Confirm Password:" %>
   <%= f.text_field :password_confirmation %>

   <%= f.submit "Create" %>
<% end %>